{% extends 'monitor/base.html' %}

{% block show_content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/rank.css' %}">

    <!-- 排行榜 -->
     <div class="ranking_list">
        <span>影响力排行榜</span>
        <span class="glyphicon glyphicon-question-sign help"></span>
        <div class="introduce">
            <i class="triangle"></i>
            <div class="con">
                <span>影响力排行榜</span>
                <p>首先将得到的用户被关注度取代当前存在虚假的用户粉丝数,通过较为合理的用户被关注度计算得到微博用户
                    的用户活跃度与微博影响力,最后将用户活跃度与微博影响力作为用户影响力的影响因子合成微博用户的用
                    户影响力</p>
            </div>
        </div>

        <hr>
        <img src="{% static 'imgs/zhu.png' %}">
    </div>

{% endblock %}